/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.article-list {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.article-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.article-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.article-content {
  flex-grow: 1;
}

.article-img {
  width: 250px;
  height: auto;
  margin-right: 15px;
  border-radius: 5px;
}

.article-details {
  margin-left: 20%;
  margin-right: 20%;
}

.comments-section {
  margin-top: 20px;
}

.comment-card {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 8px;
}

.vote-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.vote-section button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
}


.vote-count {
  font-size: 1.5em;
  font-weight: bold;
}

#nav {
  margin-top: 0.5rem;
}

#nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}

@media (min-width: 768px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  li {
    flex: 1 1 calc(33.333% - 2rem);
  }
}
